.navi-main {
    color: white;
    width: 70%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20vw;
}

.navi-main input {
    width: 29vw;
    height: 4vh;
    /* border-radius: 50px; */
    padding-left: 2%;
    outline: none;
    border: none;
    background: transparent;
    color: #d3d0d0;
    font-size: 1.1vw;
    border-bottom: 2px solid #d3d0d0;
}

.nav-icon {
    font-size: 2vw;
    margin: 0 1.3vw;
}

.searchitem {
    width: 45vw;
    max-height: 50%;
    margin: auto;
    /* background-color: rgb(233, 231, 232,0.9); */
    background-color: #f3f5f6;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;
    position: absolute;
    /* margin-left: 19vw; */
    margin-top: 56vh;
    z-index: 1;
}

.navlink {
    display: flex;
    gap: 1vw;
    width: 100%;
    text-decoration: none;
    padding: 1vw 0;
    transition: all .5s;
}

.navlink:hover {
    background-color: rgb(233, 231, 232, 1);
}

.navlink img {
    width: 8vw;
    height: 10vh;
    object-fit: cover;
    padding-left: 2vw;
}

.navlink span {
    text-align: center;
    margin-top: 3vh;
}

.headerposter {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2vw;
}

.headerposter h1 {
    margin: 0;
    color: white;
    font-size: 2.5vw;
    opacity: .6;
    margin-left: 1.4vw;
}

.headerposter p {
    color: white;
    font-size: 1vw;
    width: 60%;
    opacity: .6;
    padding: 1vw 1.6vw;
    margin: 0;
}

.second_pera_header {
    display: flex;
}

.header_span_1 {
    margin-bottom: 1.4vh;
}

.icon2 {
    margin-left: 1.2vw;
}

.ic {
    margin-right: .4vw;
    color: rgb(218, 218, 90);
}

.trailer-btn {
    background-color: #6556cd;
    padding: 1vw 1vw;
    align-items: center;
    margin-left: 1vw;
    opacity: .7;
}

.trailer-btn:hover {
    opacity: .9;
}

.trailer_link {
    color: white;
    text-decoration: none;
    font-size: 1vw;
    font-weight: 700;
}

/* //Tranding page css  */
.trandig_heading {
    margin: 0;
    color: white;
}


.tranding-main-card {
    width: 96%;
    height: 45%;
    padding: 0 1vw;
    overflow-y: hidden;
    overflow-x: auto;

}

.cardpices {
    min-width: 15%;
    height: 100%;
    margin-top: 1.4vw;
    display: flex;

}

.all_tranding_cards {
    min-width: 20%;
    height: 30vh;
   text-decoration: none;
    color: white;
    margin-left: 1vw;
}

.tranding_img {
    min-width: 90%;
    height: 50%;
    object-fit: cover;
    max-width: 90%;
}

.all_tranding_cards h1 {
    margin-top: 0;
    font-size: 1vw;
    opacity: .8;
}

.all_tranding_cards p {
    margin-top: 0;
    font-size: 1vw;
    opacity: .8;
}

.trandig_heading {
    font-size: 2vw;
    opacity: .8;
    padding: 0 2vw;
}

/* Dropdown  */
.drop-box {
    width: 100%;
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
}


.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

select h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

select {
    font-size: 1vw;
    padding-left: 1vw;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    outline: none;
    width: 7vw;
    height: 6vh;
    transition: all 0.2s ease;
}

select:focus {
    border-color: #3498db;
    box-shadow: 0 0 6px rgba(52, 152, 219, 0.5);
}

option {
    padding: 6px;
    background-color: #fff;
}

option:hover {
    background-color: #f1f1f1;
}

select {
    cursor: pointer;
}

.op:hover {
    background-color: blue;
}

/* loader */
.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
}

@media (max-width:500px) {
    .all_tranding_cards {
        min-width: 50%;
    }

}

/* Tranding page  */
.t-page-main {
    width: 100vw;
    /* height: 1000vh; */
    background-color: black;
    color: white;

    margin: 0 auto;
}

.t-page-heading {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 2vw 2vw;
    font-size: 1.5vw;
    width: 100%;
    height: 8vh;
}

.t-page-heading i:hover {
    color: #6556cd;
}

/* TRanding s pagecard css  */
.s-tranding-main {
    width: 100vw;
    height: 100vh;
    /* display: flex;
    flex-wrap: wrap; */
    margin: 0 auto;
    padding: 0 5vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2vw 2vw;

}

/* for display flex  */
/* .s-tranding-loop{
    width: 19%;
    height: 58%;
    margin-bottom: 2vh;
 
}
.s-tranding-loop img{
    width: 10%;
    height: 10%;
}
.s-tranding-loop img{
    width: 90%;
    height: 85%;
    object-fit: cover;
}
.s-tranding-loop h1{
    font-size: 1vw;
} */

.s-tranding-loop {
    width: 19vw;
    height: 55vh;
    color: white;
    text-decoration: none;
}

.s-tranding-loop img {
    width: 90%;
    height: 80%;
    object-fit: cover;
}

.s-tranding-loop h1 {
    font-size: 1vw;
}

@media (max-width:600px) {
    .s-tranding-main {
        grid-template-columns: auto auto auto;
        width: 90vw;
    }

    .s-tranding-loop {
        width: 30vw;
        height: 25vh;
    }

    .s-tranding-loop:hover {
        scale: 1.1;
        background-position: left top;
    }

    select {
        font-size: 2vw;
        width: 14vw;
        height: 3vh;
    }
}

.pagebutton {
    width: 100vw;
    margin: 0 auto;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -132vh;
}

.pagebutton button {
    width: 10vw;
    height: auto;
}

.rate {
    font-size: 1vw;
}

/* moviedetails's css ' */

.moviedetail_handleimg {
    /* background-color: rgb(0, 0, 0,.7); */
    width: 100vw;
    height: 170vh;
    display: flex;
    flex-direction: column;
    /* filter: blur(1px) opacity(0.9); */
    position: relative;
}

.all-diraction {
    width: 100vw;
    height: 1vh;
    padding: 2vw;
    background-color: transparent;
    /* backdrop-filter: blur(5px); */
}

.all-diraction * {
    padding: 1.4vw;
    color: white;
    text-decoration: none;
    transition: all .8s;
}

.all-diraction *:hover {
    color: black;
}

.mycard img {
    width: 15vw;
    height: 45vh;
    margin-top: 4vh;
    margin-left: 10vw;
    filter: contrast(130%);
}

.mycard {
    display: grid;
    grid-template-columns: auto auto;
}

.contant {
    margin-top: -3vh;
    margin-left: 5vw;
    max-width: 60vw;
}

.c-h1 {
    font-size: 2.3vw;
    font-weight: 900;
    color: white;
    font-family: "Bebas Neue", serif;
    letter-spacing: .2vw;
    word-spacing: .4vw;
}

.contant span {
    font-size: 1vw;
}

.tagline {
    font-size: 1.4vw;
    font-style: italic;
    color: white;
}

.h1-overview {
    color: white;
    font-size: 1.2vw;
}

.p-overview {
    font-size: 1vw;
    color: white;
}

.Avliable h3 {
    font-size: 1.2vw;
    color: white;
    width: 10vw;
}

.recomand-h1 {
    font-size: 1.5vw;
    color: white;
    text-align: center;
    font-weight: 900;
}

.oneline {
    display: flex;
    width: 100vw;
    font-size: .6vw;
    color: white;
    column-gap: 2vw;
}

.Avliable {
    margin-left: 5vw;
    margin-top: 3vh;
    display: flex;
    width: 35vw;
    row-gap: 2vw;
}

.Avliable img {
    width: 3vw;
    margin-left: 1.3vw;
    object-fit: contain;
}

/* trailer page  */
.trailer {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    opacity: .96;
    z-index: 100;
}

.backpage {
    width: 100vw;
    height: 3vh;
    /* background-color: #fff; */
    color: white;
    margin-left: 6vw;
    margin-top: 4vh;
    font-size: 2vw;
}

.video_trailer {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_trailer {
    background-color: #6556cd;
    color: white;
    border-radius: 10px;
    width: 10vw;
    height: 7vh;
    font-size: 1.4vw;
}

@media(max-width:600px) {
    .mycard {
        grid-template-columns: auto;
        /* height: 200vh; */
        font-size: 2.3vw;
    }

    .contant {
        margin-top: 2vh; 
    }

    .mycard img {
        width: 50vw;
        height: 30vh;
    }

    .h1-overview {
        font-size: 3.6vw;
    }

    .p-overview {
        font-size: 2vw;
    }
    .btn_trailer {
        width: 17vw;
        font-size: 2vw;
    }

    .oneline {
        font-size: 1.4vw;
    }

    .Avliable img {
        width: 6vw;
    }
    .Avliable h3{
        font-size: 3vw;
        width: 30vw;
     }
     .all_tranding_cards h1 {
        font-size: 2.5vw;
    }
    .all_tranding_cards p{
        font-size: 2vw;
        max-width: 91%;
    }
    .c-h1{
        font-size: 4vw;
    }
    .navlink img {
        width: 20vw;
        height: 7vh;
    }
    .t-page-heading span{
        font-size: x-small;
        text-align: center;
    }
    .navi-main input{
        font-size: 2vw;
    }
    .nav-icon{
        font-size: 2.7vw;
    }
    .t-page-heading i{
        font-size: 4vw;
    }
    .rate{
        font-size: 1.6vw;
    }
    .s-tranding-loop h1{
        font-size: 2vw;
    }
    .video_trailer{
        max-width: 80vw;
        margin:  0 auto;
    }
    .backpage{
        font-size: 4vw;
    }
    
}
@media (min-width: 600px) and (max-width: 1150px) {
    .contant{
        margin-top: 3vw;
    }
}
